ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}
li a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 14px 16px;
    text-align: center;
    
}

li {
    float: left;
}

#navbar {
    margin: 70px auto 70px auto;
    width: 70%;
}

#dropcontent a {display: block;}
#dropcontent a:hover, #dropall a:hover {background-color: #3f4f8c;}
#dropcontent {
    display: none;
    position: absolute;
    background-color: #212f64;
    min-width: 160px;
    z-index: 1;
}
#dropall:hover #dropcontent{
    display: block;
}

#contall {
    background-color: #212f64;
}

#logo {
    position: absolute;
    width: 150px;
    margin: -55px 0 0 10px;
    border-radius: 75px;
}

#schoolinfo, #twitter, #calendar {
    margin: 0 5px;
    height: auto;
    background-color: whitesmoke;
    display: block;
    float: left;
}

#schoolinfo{width: 20%;}

#twitter {width: 50%;}

#calendar {width: 26%;}

#whole {
    margin: 0 auto;
    width: 70%;
}

p {
    padding: 10px;
}

#timg {
    width: 100%;
}


