ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}
li a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 14px 16px;
    text-align: center;
    
}

li {
    float: left;
}

#navbar {
    margin: 70px auto 70px auto;
    width: 70%;
}

#dropcontent a {display: block;}
#dropcontent a:hover, #dropall a:hover {background-color: #3f4f8c;}
#dropcontent {
    display: none;
    position: absolute;
    background-color: #212f64;
    min-width: 160px;
    z-index: 1;
}
#dropall:hover #dropcontent{
    display: block;
}

#contall {
    background-color: #212f64;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

#logo {
    position: absolute;
    width: 150px;
    margin: -55px 0 0 10px;
    border-radius: 75px;
}

#schoolinfo, #twitter, #calendar {
    margin: 0 5px;
    height: auto;
    display: block;
    float: left;
}

#schoolinfo{width: 22%;background-color: #212f64;font-family: 'Lato', sans-serif;border-top: 5px solid red;
border-bottom: 5px solid red;}

#twitter {width: 50%;}

#calendar {width: 25%;}

#whole {
    margin: 0 auto;
    width: 80%;
}

p {
    padding: 10px;
    color: white;
    
}

#timg {
    width: 100%;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px !important;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

#socialcon {
    margin: 10px;
}

footer {
    width: 100%;
    background-color: #212f64;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footerlink {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    
}

.footercon {
    text-align: center;
    padding: 20px;
}


#copy {
    margin: 20px 0 0 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

#textalert {
    color: white;
    padding: 10px;
    font-size: 14px;
}

#textalertm {
    color: white;
    padding: 0 10px 10px;
    font-size: 12px;
}